/* === INÍCIO - CSS RESET === */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    font-family: var(--fontFamily);
    color: white;
    background-color: var(--color2);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--color3);
    text-decoration: none;
}

/* === FIM - CSS RESET === */

:root {
    --color1: #280f36;
    --color2: #632a6e;
    --color3: #c86b98;
    --color4: #f09f9c;
    --color5: #ffc1a0;
    --color6: #fe9c7f;
    --fontFamily: "Noto Sans", sans-serif;
    --fontFamily2: "Oswald", sans-serif;
}

body {
    /* padding-top: 60px; */
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--fontFamily);

}


p {
    /* line-height: 1.7rem; */
}

main {
    margin: 0 auto;
    max-width: 1900px;
    padding: 2rem 1rem 1rem 1rem;
    width: 100%;
}

.btn {
    /* background: none; */
    border: none;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
    color: var(--color4);
    /* background-color: var(--color5); */
}

.btn-links {
    display: inline-block;
    margin-top: .8rem;
    background-color: var(--color4);
    color: var(--color2);
    font-family: var(--fontFamily2);
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0.5rem 1.2rem 0.7rem;
    border-radius: 50px;
    min-width: 130px;
}

.btn-links a {
    color: var(--color6);
}

@media (max-width: 768px) {
    .btn {
        font-size: 1.2rem;
    }
}

/* Responsividade */
@media (min-width: 1710px) {
    #livros {

        padding-left: 20px;
        min-height: auto;
    }
}

@media (max-width: 1256px) {
    #menu {
        display: none;
    }


    #livros {

        padding-left: 20px;
    }

}


/* Classes auxiliares */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.centralizado {
    text-align: center;
}

ol {
    margin-top: 2rem;
}

ol li {
    line-height: 1.6rem;
    margin-bottom: 1rem;
}

ol li strong {
    display: block;
}

/* CSS - body */

/*---------- HEADER ------------*/

header {
    background-color: var(--color1);
    /* color: white; */
    height: 110px;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
}

header:after {
    content: "";
    clear: both;
    display: table;
}

#logodiv {
    float: left;
    height: 100%;
    padding-top: 0.2rem;
    width: 100px;
}

#logo {
    width: 180px;
    margin-left: 1rem;
}

/*---------- MENU ------------*/

#menu {
    float: right;
    margin-right: 2%;
    list-style: none;
    margin-top: 0px;
    font-size: 290%;

}

#menu a {
    color: white;
    font-weight: 200;
    font-family: var(--fontFamily2);

}

#menu a:hover {
    color: var(--color2);

}

.nav {
    float: left;
    padding: 20px 10px 20px 10px;
    color: white;
}

.nav:hover {
    background-color: var(--color4);
    /* color: var(--color1); */
}

/*---------- APRESENTAÇÃO ------------*/
#inicio {
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    #inicio {
        margin-bottom: 100px;
    }

}

#livros {
    min-width: 200px;
    max-height: fit-content;

}

#apresentacao {
    margin-top: 100px;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

@media (max-width: 992px) {

    #apresentacao {
        font-size: 1rem;
        line-height: 1.7rem;

    }
}

#aprestexto {
    margin-top: 20px;
    padding-left: 30px;
    /* font-size: 1.9rem;
    line-height: 2.5rem; */
}

.quemsoueu {
    text-align: left;
    padding-top: 1rem;

}

.veja {
    margin-top: 15px;
}

/*---------- PROJETOS ------------*/

#projetos {
    margin-top: 10px;
}

.boxproj {
    /* background-color: red; */
    margin-bottom: 30px;
}

/* .boximg {
    /* border: yellow; */


*/ .boxtexto {
    /* background-color: aqua; */
    padding: 10px 30px 10px 30px;
    font-size: 1.5rem;
}

@media (max-width: 992px) {

    .boxtexto {
        /* padding: 10px 30px 10px 30px; */
        font-size: 1rem;
    }
}

.boxtitulo {
    /* background-color: orange; */
    font-weight: bold;
    font-family: var(--fontFamily2);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.boxdescricao {
    /* background-color: lime; */
    padding: 10px 0px 20px 0px;
    /* text-align: justify; */
}

/* .aproj {
    background-color: antiquewhite;
} */


/*---------- CONTATO ------------*/

#contato {
    max-width: 75%;
    min-width: 260px;
    margin-top: 50px;
}

#titulocontato {
    font-family: var(--fontFamily);
    margin: 20px 0px 15px 0px;
}

#subtitulocontato {
    font-size: 0.8rem;
    margin: 5px 0px 10px 0px;

}

#contactform {
    font-family: var(--fontFamily2);

}

/*---------- FOOTER ------------*/

footer {
    padding: 20px 20px 20px 20px;
    background-color: var(--color1);
    color: var(--color3);
    display: block;
    text-align: center;
    margin-top: 2rem;
}

.boxredes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}

.redes {
    max-width: 40px;
    min-width: 20px;
    margin: 10px 10px 10px 10px;


}

.redes:hover {
    opacity: 0.8;

}

#nome {
    /* font-style: italic; */
    font-weight: 400;
    font-size: 0.9rem;
}

/* =================================================================== */